.footer {
    position: sticky;
    bottom: 0;
    max-height: 60px;
    min-height: 60px;
    background-color: #f6f6f6;
    //background: #f19a6f;
    // TODO: Theming
    //background: linear-gradient(to bottom, #f19a6f 0%, #faaa7c 70%);
}