@import "./vars";

//reset links styles
@mixin reset-link($color) {
  color: $color;
  text-decoration: none;
  outline: none;
  &:hover, &:active, &:focus, &:visited {color: $color}
}

@mixin rewrite-mobile {
  @media all and (max-width: $device-mobile-max) {
    @content
  }
}