@import "./helpers";

.mlinks-page {
  &__heading {
    font-size: 2rem;
    margin: 1.8rem 0;
  }
  @include rewrite-mobile {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    &__heading {
    font-size: 1.8rem;
    margin: 1.6rem 0 1rem 0;
    }
  }
  .edit_icon {
    border: 2px solid;
    padding: 1px;
    border-radius: 7px;
  }
}

.mlinks-module {
  &_form {
    &__item {
      display: flex;
      align-items: center;
      justify-content: stretch;
      margin-bottom: 1.4rem;
      .account_type,
      .account_value {
        margin-bottom: 0;
      }
      .account_type {
        flex-basis: 30%;
        margin-right: 1.4rem;
      }
      .account_value {
        padding-right: 30px;
        &--container {
          position: relative;
          flex: 1;
        }
      }
      @include rewrite-mobile {
        flex-direction: column;
        align-items: stretch;
        justify-items: stretch;
        .account_type, .account_type:read-only {
          background-color: transparent;
          border: none;
          color: #444;
          opacity: 1;
        }
        .account_type,
        .account_value {
          font-size: 1.2rem;
        }
      }
      &--controls {
        .action-icon {
          padding: 0 0.5rem;
        }
      }
    }
  }
  .action-icon {
    &.copy {
      font-size: 3rem;
      padding: 0 0.5rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
