@import "./vars.scss";
@import "./helpers.scss";

.memos {
  &_controls {
    position: sticky;
    top: 100px;
  }
  &_list {
    padding: 1.2rem;
    max-height: 70vh;
    overflow-y: auto;
    @include rewrite-mobile {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }
}

.personal-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  max-height: 48px;
  padding: 1.4rem;
  margin-bottom: 6px;

  > div {
    margin-right: 10px;
    max-height: 48px;
    @include rewrite-desktop{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  & > div:first-child {
    flex-basis: 40%;
  }
  & > div:not(:first-child) {
    flex-basis: 20%;
  }
  & > div:last-child {
    text-align: right;
  }
}
.header_cart {
  cursor: pointer;
}
@media screen and (max-width: $medium-device) {
  .personal-cart {
    & > div:first-child {
      flex-basis: 90%;
    }
    & > div:not(:first-child) {
      flex-basis: 5%;
    }
    & > div:last-child {
      text-align: right;
    }
  }
}
