@import "./vars";
@import "./helpers";
//preview
.memo_preview {
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  &__inner {
    background: #fff;
    padding: 1.4rem;
    border-radius: 4px;
  }
  &__controls {
    > .action-btn {
      margin-bottom: 8px;
      @include reset-link(#fff);
      text-align: center;
    }
  }
}

.memo_status-box {
  display: flex;
  align-items: center;
  &__label {
    margin-right: 10px;
    display: inline-block;
  }
  &__input {
    margin: 0;
  }
  &__time-edit {
    padding: 14px 0;
  }
}
.m_preview-label {
  margin-bottom: 0.8rem;
  opacity: 0.9;
}

.memo-icons {
  display: inline-block;
  font-size: 1.6rem;
  color: #666;
  cursor: pointer;
}

.memo-icons {
  &.attention {
    color: $error-text;
  }
  &.success {
    color: $success-text;
  }
}
