//colors
$error-text: darkred;
$warning-text: darkorange;
$blue-theme: #1091cb;
$success-text: limegreen;


$small-device: 420px;
$medium-device: 759px;
$desktop-device: 969px;
$device-mobile-max: 991.97px;




